################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/SZMK.Desktop/Properties/AssemblyInfo.cs~RF2579f400.TMP
